.banner{
    box-sizing: border-box;
    background-image: url(../../assets/img/sunset-pixel-art-landscape-scenery-digital-art-uhdpaper.com-4K-4.2066.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid #00E0FF;
    padding-top: 115px;
    padding-left: 110px;
}

.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 640px;

}

.banner .navigation{
    display: flex;
    justify-content: space-around;
}

.banner .box{
    margin-bottom: 40px;

}