.main-input{
    font-size: 15px;
    width: 658px;
    height: 35px;
    background-color: #fff;
    border: 5px solid #000;
    padding-left: 5px;
    padding-right: 5px;
}

.main-input.-textarea{
    height: 320px;
}