.main-footer{
    justify-content: center;
    display: flex;
    padding-top: 28px;
    padding-bottom: 28px;
    text-decoration: none;
    background-color: #000;
}

.main-footer .action{
    margin-right: 20px;
    margin-left: 20px;
}