.main-text{
    color: #fff;
    font-weight: 300;
    line-height: 40px;
    font-size: 30px;
    margin: 50px 80px;
}

@media (min-width: 320px) and (max-width: 600px){
    .main-text{
        font-weight: 400;
        line-height: 25px;
        font-size: 1.20em;
        margin: 0px 2px;
    }
}