.main-subtitle{
    font-size: 30px;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 4px 4px 0px #000;
    color: #FFFF;
}

@media (min-width: 320px) and (max-width: 479px){
    .main-subtitle{
        font-size: 1em;
    }
}