.section{
    height: 610px;
    background-color: #11ABF7;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #00E0FF;
}

.section.-habilidades{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../../assets/img/backgroundSkill.png);
}