.skill-tec{
    display: flex;
    align-items: center;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #fff;
    text-shadow: 4px 4px 0px #000000;
}

.skill-tec h3{
    margin: 0px;
}

.skill-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-tec .icon{
    height: 84px;
    width: 90px;
    margin-right: 25px;
}

@media (min-width: 320px) and (max-width: 600px){
    .skill-tec h3{
        font-size: 0.80em;
    }

    .skill-tec .icon{
        margin-right: 10px;
    }
}