.wrapper-projetos{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
}


.wrapper-projetos .legenda p{
    margin-left: -190px;
    margin-right: 315px;
}

.wrapper-projetos img{
    margin-left: 156px;
    margin-right: 156px;
    background-color: #27244f;
    box-shadow: 10px 10px 0px #FFFFFF;
    width: 280px;
    margin-bottom: 10px;
    height: 280px;
}

.wrapper-projetos figcaption{
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    color: #fff;
}


@media (min-width: 320px) and (max-width: 600px){
    .wrapper-projetos{
        padding-top: 57px;
        flex-direction: column;
    }

    .wrapper-projetos img{
        margin-left: 100px;
        margin-right: 100px;
        width: 150px;
        height: 150px;
    }

    .wrapper-projetos figcaption{
        margin-bottom: 30px;
    }
}