.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-top: 193px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .skill-tec{
    width: 430px;
    margin-bottom: 40px;
}

.wrapper-skill .skill-tec:nth-child(odd){
    margin-right: 100px;
}

.wrapper-skill .progress-bar{
    width: 320px;
}

@media (min-width: 320px) and (max-width: 800px){
    .wrapper-skill{
        display: block;
        margin-top: 75px;
    }
    
    .wrapper-skill .progress-bar{
        width: 230px;
    }

    .wrapper-skill .skill-tec{
        margin-bottom: 39px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper-skill .skill-tec:nth-child(odd){
        margin-right: auto;
    }
}

@media (min-width: 801px) and (max-width: 1024px){
    .wrapper-skill .skill-tec{
        width: 315px;
        margin-bottom: 40px;
    }

    .wrapper-skill .progress-bar{
        width: 200px;
    }

    .wrapper-skill{
        justify-content: center;
    }
}