.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-top: 193px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .skill-tec{
    width: 430px;
    margin-bottom: 40px;
}

.wrapper-skill .skill-tec:nth-child(odd){
    margin-right: 100px;
}

.wrapper-skill .progress-bar{
    width: 320px;
}

@media (min-width: 320px) and (max-width: 479px){
    .wrapper-skill{
        margin: 79px 0 0 0;
        flex-direction: column;
        align-items: center;
    }

    .wrapper-skill .progress-bar{
        width: 270px;
    }

    .wrapper-skill .skill-tec{
        margin-bottom: 39px;
    }

    .wrapper-skill .skill-tec:nth-child(odd){
        margin-right: 0px;
    }
}